@orange-color: #fdbd1f;
@grey-color: #9e8e92;

body {
  background: url(../img/jorepsum.jpg) no-repeat;
  width: 1170px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
} 

.navigation-logo {
  float: left;
  margin-top: 24px;
  margin-left: 26px;
  
  .logo-tagline {
    float: right;
    margin-left: 9px;
    color: @grey-color;
    
    .tagline-black {
      font-weight: bold;
      font-size: 19px;
      
    }
    
    .tagline-light {
      display: inline-block;
      margin-top: -10px;
      font-weight: lighter;
      font-size: 13px;
    }
  }
}

.main-navigation {
  float: right;
  
  ul {
    
    li {
      display: inline-block;
      padding-top: 15px;
      padding-right: 29px;
      
      a {
        font-weight: normal;
        font-size: 13px;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        color: @grey-color;
      }
    }
  }
}

.index-logo {
  margin-top: 15px;
  width: 1170px;
  height: 441px;
  background: url(../img/banner.jpg) no-repeat 0px 0px;
  h1 {
    text-align: center;
    margin-top: 190px;
  }
}

.description {
  width: 570px;
  margin: 0 auto;
  margin-top: 230px;
  text-align: center;
}

.features-item {
  margin-top: 100px;
  
  .item-left {
    float: left;
    width: 576px;
  }

  .item-right {
    float: right;
    width: 576px;
  }
  
  .item-middle {
    clear: both;
    
    .middle-pic {
      float: left;
    }
    
    .middle-description {
      float: right;
      width: 730px;
    }
  }
}

.features-item-bottom {
  width: 770px;
  margin: 0 auto;
  text-align: center;
}

.main-footer {
  margin-top: 130px;
  text-align: center;
}

